body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    width: 100%;
    background: black;
    height: 80px;
    padding: 0;
    margin: 0;
}

.navbar {

    padding: 0;
    margin: 0;

}


ul {
    list-style-type: none;
    color: white;
    display: flex;
    float: right;
  }

  li {
      padding: 10px;
      font-size: 22px;
      cursor: pointer;
      padding-left: 5px;
  }


.photo 
    {
        background: url('./background.jpeg') no-repeat;
        background-size: contain;
        height: 800px;
        width: 100%;
        
    }


.container {
    display: flex;
    justify-content: space-around;

}


    .boxes {
        border: 1px solid grey;
        height: 150px;
        width: 150px;
        padding: 30px;
        margin: 30px;
        text-align: center;
    }

  
.container2 {
    border: 1px solid black;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


ol {
    list-style-type: disc;
}


footer {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    
}